<!-- Header -->
<header class="header"> 
<h1 class="visually-hidden">Embassy of the Free Mind</h1>

<!-- Achtergrondafbeelding -->
<img
src="/assets/images/small.png"
  alt="Decoratieve achtergrondafbeelding"
  class="background-image">

  <div class="header-overlay"></div>