<!-- Header -->
<header class="header">
  <h1 class="visually-hidden">Embassy of the Free Mind</h1>

  <!-- Achtergrondafbeelding -->
  <img
    src="/assets/images/small.png"
    alt="Decoratieve achtergrondafbeelding"
    class="background-image">

  <div class="header-overlay"></div>

  <!-- Navigatie -->

  <nav class="glass-box">

    <!-- Hamburger menu -->
    <button class="menu-toggle" type="button">
      <span class="visually-hidden">Menu openen</span>
      <svg
        width="30"
        height="30"
        viewBox="0 0 100 80"
        fill="#333">
        <rect
          width="100"
          height="10"
          rx="5"></rect>
        <rect
          y="30"
          width="100"
          height="10"
          rx="5"></rect>
        <rect
          y="60"
          width="100"
          height="10"
          x="5"></rect>
      </svg>
    </button>

    <!-- Logo -->
    <img
      src="assets/images/logo.png"
      alt="Embassy of the Free Mind logo"
      class="logo-img">
  </nav>

</header>