* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  /* Header sectie */
.header {
    position: relative;
    overflow: hidden;
  }
  
  /* Achtergrondafbeelding styling */
  .background-image {
    width: 100%;
    height: 12.5rem;
    background-size: cover;
  }
  

